[defaults]
inventory         = /home/student/ansible/inventory
remote_user       = student
host_key_checking = False
roles_path        = /home/student/ansible/roles:/usr/share/ansible/roles
collections_path  = ./collections/:.ansible/collections:/usr/share/ansible/collections
vault_password_file = /home/student/ansible/secret.txt

[privilege_escalation]
become      = True
become_method = sudo
become_user = root
